<a href="{{ path('admin_nippon_parts_product_analogues',{productId: object.id}) }}" class="btn edit_link btn-small" title="{% trans from 'SonataAdminBundle' %}Analogues{% endtrans %}">
    <i class="icon-random"></i> {% trans from 'SonataAdminBundle' %}Analogues{% endtrans %}
</a>