<a href="{{ path('admin_nippon_parts_depot_import',{depotId: object.id}) }}" class="btn edit_link btn-small" title="{% trans from 'depot' %}Import{% endtrans %}">
    <i class="icon-upload"></i> {% trans from 'depot' %}Import{% endtrans %}
</a>